.btn{
  margin-top: 10px; 
}
  .btn-danger{
    float:right;
  }

.form-group{
  margin-bottom: 10px; 
  margin-top: 10px; 
  margin-left: 10px; 
  margin-right: 10px; 
}

.container{
  margin: auto;
	width: 75%;
}

.card{
  box-shadow: 5px 5px 10px 2px rgba(172, 172, 172, 0.8);
}

input[type=text] {

  border: 2px solid #ccc;
  
}

label{
  font-weight: bold;
}