<!-- <form (ngSubmit)="add()"
      class="container">
  <div class="row g-0">
    <label for="make">Make:</label>
    <input type="text"
           id="make"
           name="make"
           class="p-3 border"
           [(ngModel)]="car.make">
    <label for="make">Model:</label>
    <input type="text"
           id="model"
           name="model"
           class="p-3 border"
           [(ngModel)]="car.model">
    <label for="make">Price:</label>
    <input type="number"
           id="price"
           name="price"
           class="p-3 border"
           [(ngModel)]="car.price">
    <label for="make">Year:</label>
    <input type="number"
           id="year"
           name="year"
           class="p-3 border"
           [(ngModel)]="car.year">
    <label for="make">HorsePower::</label>
    <input type="number"
           id="horsePower"
           name="horsePower"
           class="p-3 border"
           [(ngModel)]="car.horsePower">
    <label for="make">Color:</label>
    <input type="text"
           id="color"
           name="color"
           class="p-3 border"
           [(ngModel)]="car.color">
    <label for="make">CubicCapacity:</label>
    <input type="number"
           id="cubicCapacity"
           name="cubicCapacity"
           class="p-3 border"
           [(ngModel)]="car.cubicCapacity">
    <label for="make">Mileage:</label>
    <input type="number"
           id="mileage"
           name="mileage"
           class="p-3 border"
           [(ngModel)]="car.mileage">
    <label for="make">Description:</label>
    <input type="text"
           id="description"
           name="description"
           class="p-3 border"
           [(ngModel)]="car.description">
    <label for="engine">Engine:</label>
    <select [(ngModel)]="car.engine"
            id="engine"
            name="engine"
            class="p-3 border">
      <option></option>
      <option [ngValue]="1"> Бензинов</option>
      <option [ngValue]="2">Дизелов</option>
      <option [ngValue]="3">Електрически</option>
    </select>
    <label for="category">Category:</label>
    <select [(ngModel)]="car.category"
            id="category"
            name="category"
            class="p-3 border">

      <option></option>
      <option [ngValue]="1"> Седан</option>
      <option [ngValue]="2">Хечбек</option>
      <option [ngValue]="3">SUV</option>
      <option [ngValue]="4">Купе</option>
      <option [ngValue]="5">Миниван</option>
      <option [ngValue]="6">Пикап</option>
      <option [ngValue]="7">Спортна кола</option>
      <option [ngValue]="8">Кабриолет</option>
      <option [ngValue]="9">Комби</option>
    </select>
    {{car.category}}
    <label for="transmission">Transmission:</label>
    <select [(ngModel)]="car.transmission"
            id="transmission"
            name="transmission"
            class="p-3 border">
      <option></option>
      <option [ngValue]="1"> Автоматична</option>
      <option [ngValue]="2">Ръчна</option>
      <option [ngValue]="3">Семи-автоматична</option>
    </select>
    <label for="region"> Region:</label>
    <select [(ngModel)]="car.region"
            id="region"
            name="region"
            class="p-3 border">
      <option></option>
      <option [ngValue]="1"> Благоев Град</option>
    </select>
    <button type="submit"
            class="btn-success"> Add</button>
  </div>
</form>

 -->

<div class="row">
  <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <div class="p-3 border">
      <input type="text"
             [(ngModel)]="car.make"
             placeholder="Make">
    </div>
    <div class="p-3 border">
      <input type="text"
             [(ngModel)]="car.model"
             placeholder="Model">
    </div>
    <div class="p-3 border">
      <input type="number"
             [(ngModel)]="car.year"
             placeholder="Year">
    </div>
    <div class="p-3 border">
      <input type="number"
             [(ngModel)]="car.price"
             placeholder="Price">
    </div>
    <div class="p-3 border">
      <input type="number"
             [(ngModel)]="car.horsePower"
             placeholder="HorsePower">
    </div>
    <div class="p-3 border">
      <input type="text"
             [(ngModel)]="car.color"
             placeholder="Color">
    </div>
    <div class="p-3 border">
      <input type="number"
             [(ngModel)]="car.cubicCapacity"
             placeholder="Cubic Capacity">
    </div>
    <div class="p-3 border">
      <input type="number"
             [(ngModel)]="car.mileage"
             placeholder="Mileage">
    </div>
    <div class="p-3 border">
      <input type="text"
             [(ngModel)]="car.description"
             placeholder="Description">
    </div>
    <div class="p-3 border">
      <select [(ngModel)]="car.engine">
        <option [ngValue]="1"> Бензинов</option>
        <option [ngValue]="2">Дизелов</option>
        <option [ngValue]="3">Електрически</option>
      </select>
    </div>
    <div class="p-3 border">
      <select [(ngModel)]="car.category">
        <option [ngValue]="1"> Седан</option>
        <option [ngValue]="2">Хечбек</option>
        <option [ngValue]="3">SUV</option>
        <option [ngValue]="4">Купе</option>
        <option [ngValue]="5">Миниван</option>
        <option [ngValue]="6">Пикап</option>
        <option [ngValue]="7">Спортна кола</option>
        <option [ngValue]="8">Кабриолет</option>
        <option [ngValue]="9">Комби</option>
      </select>
    </div>
    <div class="p-3 border">
      <select [(ngModel)]="car.transmission">
        <option></option>
        <option [ngValue]="1"> Автоматична</option>
        <option [ngValue]="2">Ръчна</option>
        <option [ngValue]="3">Семи-автоматична</option>
      </select>
    </div>
    <div class="p-3 border">
      <select [(ngModel)]="car.region">
        <option></option>
        <option [ngValue]="1"> Благоев Град</option>
      </select>
    </div>
    <div class="p-3 border">
      <button class="btn btn-primary"
              [routerLink]="['/']"
              (click)="add()">Add</button>
    </div>

  </div>

  <!-- <div class="mb-3">
  <label asp-for="ImageFiles"
         class="form-label">Снимки</label>
  <input asp-for="ImageFiles"
         type="file"
         class="form-control"
         multiple
         accept="image/*" />
  <span asp-validation-for="ImageFiles"
        class="text-danger"></span>
</div> -->