<div class="row">
  <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <div class="p-3 border">
      <input type="text"
             [(ngModel)]="car.make"
             placeholder="Make">
    </div>
    <div class="p-3 border">
      <input type="text"
             [(ngModel)]="car.model"
             placeholder="Model">
    </div>
    <div class="p-3 border">
      <input type="number"
             [(ngModel)]="car.year"
             placeholder="Year">
    </div>
    <div class="p-3 border">
      <input type="number"
             [(ngModel)]="car.price"
             placeholder="Price">
    </div>
    <div class="p-3 border">
      <input type="number"
             [(ngModel)]="car.horsePower"
             placeholder="HorsePower">
    </div>
    <div class="p-3 border">
      <input type="text"
             [(ngModel)]="car.color"
             placeholder="Color">
    </div>
    <div class="p-3 border">
      <input type="number"
             [(ngModel)]="car.cubicCapacity"
             placeholder="Cubic Capacity">
    </div>
    <div class="p-3 border">
      <input type="number"
             [(ngModel)]="car.mileage"
             placeholder="Mileage">
    </div>
    <div class="p-3 border">
      <input type="text"
             [(ngModel)]="car.description"
             placeholder="Description">
    </div>
    <div class="p-3 border">
      <select [(ngModel)]="car.engine">
        <option [ngValue]="1"> Бензинов</option>
        <option [ngValue]="2">Дизелов</option>
        <option [ngValue]="3">Електрически</option>
      </select>
    </div>
    <div class="p-3 border">
      <select [(ngModel)]="car.category">
        <option [ngValue]="1"> Седан</option>
        <option [ngValue]="2">Хечбек</option>
        <option [ngValue]="3">SUV</option>
        <option [ngValue]="4">Купе</option>
        <option [ngValue]="5">Миниван</option>
        <option [ngValue]="6">Пикап</option>
        <option [ngValue]="7">Спортна кола</option>
        <option [ngValue]="8">Кабриолет</option>
        <option [ngValue]="9">Комби</option>
      </select>
    </div>
    <div class="p-3 border">
      <select [(ngModel)]="car.transmission">
        <option></option>
        <option [ngValue]="1"> Автоматична</option>
        <option [ngValue]="2">Ръчна</option>
        <option [ngValue]="3">Семи-автоматична</option>
      </select>
    </div>
    <div class="p-3 border">
      <select [(ngModel)]="car.region">
        <option></option>
        <option [ngValue]="1"> Благоев Град</option>
      </select>
    </div>
    <div>
      <label for="imageUpload">Upload Image:</label>
      <input type="file"
             id="imageUpload"
             name="imageUpload"
             (change)="handleImageUpload($event)"
             accept="image/*"
             multiple>
    </div>
    <div class="p-3 border">
      <button class="btn btn-primary"
              [routerLink]="['/']"
              (click)="add()">Add</button>
    </div>

  </div>