<div class="card">
  <div class="text-center row">
    <div class="col-md-12">
      <div class="card-body">
        <h5 class="card-title mt-1">{{car.make}} {{car.model}}</h5>
        <p class="card-text">Цена: {{car.price}} лева</p>
        <p class="card-text">Година: {{car.year}}</p>
        <p class="card-text">Двигател: {{ engineEnumLocalization[car?.engine]}}</p>
        <p class="card-text">Категория: {{ categoryEnumLocalization[car?.category]}}</p>
        <p class="card-text">Скоростна кутия: {{ transmissionEnumLocalization[car?.transmission]}}</p>
        <p class="card-text">Регион: {{ regionEnumLocalization[car?.region]}}</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card">
  <div class="card-header">
    <h5 class="card-title">Детайли за колата</h5>
  </div>
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card-body">
        <div class="form-floating mb-3">
          <input class="form-control"
                 id="sdasdee"
                 disabled>
          <label for="sdasdee">{{car?.make}}</label>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-body">
        <div class="form-floating mb-3">
          <input class="form-control"
                 id="sdasd"
                 disabled>
          <label for="sdasd">{{car?.model}}</label>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card-body">
        <div class="form-floating mb-3">
          <input class="form-control"
                 id="floatingTextarsdsdeaDisabled"
                 disabled>
          <label for="floatingTextarsdsdeaDisabled">{{car?.color}}</label>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-body">
        <div class="form-floating mb-3">
          <input class="form-control"
                 id="floatingTextarsdsdeaDisabled"
                 disabled>
          <label for="floatingTextarsdsdeaDisabled">{{car?.price}}</label>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-body">
        <div class="form-floating mb-3">
          <input class="form-control"
                 id="floatingTextarsdsdeaDisabled"
                 disabled>
          <label for="floatingTextarsdsdeaDisabled">{{car?.cubicCapacity}}</label>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-body">
        <div class="form-floating mb-3">
          <input class="form-control"
                 id="floatingTextarsdsdeaDisabled"
                 disabled>
          <label for="floatingTextarsdsdeaDisabled">{{car?.description}}</label>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-body">
        <div class="form-floating mb-3">
          <input class="form-control"
                 id="asdasd"
                 disabled>
          <label for="asdasd">{{ engineEnumLocalization[car?.engine] }}</label>
        </div>
      </div>
    </div>
  </div> -->