<!-- <div class="container">
  <div class="p-3 border">
    <input type="text"
           [(ngModel)]="car.make"
           placeholder="Search By Make">
  </div>
  <div class="p-3 border">
    <input type="text"
           [(ngModel)]="car.model"
           placeholder="Search By Model">
  </div>
  <div class="p-3 border">
    <input type="number"
           [(ngModel)]="car.year"
           placeholder="Search By Year">
  </div>
  <div class="p-3 border">
    <select [(ngModel)]="car.engine">
      <option></option>
      <option value="1"> Бензинов</option>
      <option value="2">Дизелов</option>
      <option value="3">Електрически</option>
    </select>
  </div>
  <div class="p-3 border">
    <select [(ngModel)]="car.category">
      <option></option>
      <option value="1"> Седан</option>
      <option value="2">Хечбек</option>
      <option value="3">SUV</option>
      <option value="4">Купе</option>
      <option value="5">Миниван</option>
      <option value="6">Пикап</option>
      <option value="7">Спортна кола</option>
      <option value="8">Кабриолет</option>
      <option value="9">Комби</option>
    </select>
  </div>
  <div class="p-3 border">
    <select [(ngModel)]="car.transmission">
      <option></option>
      <option value="1"> Автоматична</option>
      <option value="2">Ръчна</option>
      <option value="3">Семи-автоматична</option>
    </select>
  </div>
  <div class="p-3 border">
    <button class="btn btn-primary"
            (click)="search()">Search</button>
  </div>
</div> -->

<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-sm-4">
        <input type="text"
               [(ngModel)]="car.make"
               class="form-control"
               placeholder="Search By Make">
      </div>
      <div class="col-sm-4">
        <input type="text"
               [(ngModel)]="car.model"
               class="form-control"
               placeholder="Search By Model">
      </div>
      <div class="col-sm-4">
        <input type="number"
               [(ngModel)]="car.year"
               class="form-control"
               placeholder="Search By Year">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-4">
        <select [(ngModel)]="car.engine"
                class="form-control">
          <option></option>
          <option value="1">Бензинов</option>
          <option value="2">Дизелов</option>
          <option value="3">Електрически</option>
        </select>
      </div>
      <div class="col-sm-4">
        <select [(ngModel)]="car.category"
                class="form-control">
          <option></option>
          <option value="1">Седан</option>
          <option value="2">Хечбек</option>
          <!-- other options -->
        </select>
      </div>
      <div class="col-sm-4">
        <select [(ngModel)]="car.transmission"
                class="form-control">
          <option></option>
          <option value="1">Автоматична</option>
          <option value="2">Ръчна</option>
          <option value="3">Семи-автоматична</option>
        </select>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 text-center">
        <button class="btn btn-primary"
                (click)="search()">Search</button>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div *ngFor="let car of cars"
         class="card"
         style="width: 18rem;">
      <img class="card-img-top"
           alt="Card image ">
      <div class="card-body">
        <h5 class="card-title">{{car.make}} {{car.model}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Цена: {{car.price}} лв.</li>
        <li class="list-group-item">Пробег: {{car.mileage}} км.</li>
        <li class="list-group-item">Година: {{car.year}}</li>
        <button class="btn btn-primary"
                [routerLink]="['/car',car.id]">детайли</button>
      </ul>
    </div>
  </div>
</div>


<!-- <div class="container-sm">
  <table id="myTable">
    <tr>
      <h4>Търсене на автомобили</h4>
      <td> <input type="text"
               [(ngModel)]="car.make"
               placeholder="Search By Make"></td>
    </tr>
    <tr>
      <td> <input type="text"
               [(ngModel)]="car.model"
               placeholder="Search By Model"></td>
    </tr>
    <tr>
      <td><input type="number"
               [(ngModel)]="car.year"
               placeholder="Search By Year"></td>
    </tr>
    <tr>
      <td>
        <select [(ngModel)]="car.engine">
          <option></option>
          <option value="1"> Бензинов</option>
          <option value="2">Дизелов</option>
          <option value="3">Електрически</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <select [(ngModel)]="car.category">
          <option></option>
          <option value="1"> Седан</option>
          <option value="2">Хечбек</option>
          <option value="3">SUV</option>
          <option value="4">Купе</option>
          <option value="5">Миниван</option>
          <option value="6">Пикап</option>
          <option value="7">Спортна кола</option>
          <option value="8">Кабриолет</option>
          <option value="9">Комби</option>
        </select>
      </td>
    </tr>
    <tr>
      <button class="btn btn-primary"
              (click)="search()">Search</button>
    </tr>

  </table>
</div> -->