<div class="row">
  <div *ngFor="let car of cars"
       class="card"
       style="width: 18rem;">
    <img class="card-img-top"
         src="..."
         alt="Card image ">
    <div class="card-body">
      <h5 class="card-title">{{car.make}} {{car.model}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Цена: {{car.price}} лв.</li>
      <li class="list-group-item">Пробег: {{car.mileage}} км.</li>
      <li class="list-group-item">Година: {{car.year}}</li>
      <button class="btn btn-primary"
              [routerLink]="['/car',car.id]">детайли</button>
    </ul>
  </div>
</div>