<div class="container">
  <div class="row">
    <div *ngFor="let rentCar of rentCars"
         class="card"
         style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{rentCar.make}} {{rentCar.model}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Цена: {{rentCar.price}} лв.</li>
        <li class="list-group-item">Пробег: {{rentCar.mileage}} км.</li>
        <li class="list-group-item">Година: {{rentCar.year}}</li>
      </ul>
    </div>
  </div>
</div>