{{rentCar.make}}
<div class="container">
  <div class="row">
    <div *ngFor="let car of rentCars"
         class="card"
         style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{car.make}} {{rentCar.model}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Цена: {{rentCar.price}} лв.</li>
        <li class="list-group-item">Пробег: {{rentCar.mileage}} км.</li>
        <li class="list-group-item">Година: {{rentCar.year}}</li>


      </ul>

    </div>
  </div>
</div>