.navbar-nav{
  text-decoration: underline;
  color: white;
}

.navbar{
  display:flex;
}

.nav-link{
  color:white;
  float: right;
}
.navbar-brand{
  color: white;
  margin-left: 10px;
}
.navbar-brand:hover{
  transform: scale(1.02);
}z

.nav-custom{
  float: left;
}

.agent{
  justify-content: start;
}

.container{
  display: flex;
  order: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0d6efd;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #0f67eb;
  transform: scale(1.02);
 
}



