<section style="background-color: #eee;">
  <div class="container  py-5">
    <div class="card">
      <div class="row">
        <h4 class="title">
          Въвеждане на описанието на Автомобилa</h4>

        <div class="col-sm-4">
          <input type="text"
                 class="form-control"
                 [(ngModel)]="car.model"
                 name="model"
                 required
                 #model="ngModel"
                 placeholder="Модел">
        </div>
        <span *ngIf="model.errors?.['required']"
              class="text-danger">
          Моделът е задължителен.
        </span>

        <div class="col-sm-4">
          <input type="text"
                 class="form-control"
                 [(ngModel)]="car.make"
                 name="make"
                 required
                 placeholder="Марка"
                 #make="ngModel">
        </div>
        <span *ngIf=" make.errors?.['required']"
              class="text-danger">
          Марката е задължителна.
        </span>

        <div class="col-sm-4">
          <input type="number"
                 class="form-control"
                 [(ngModel)]="car.year"
                 name="year"
                 required
                 #year="ngModel"
                 placeholder="Година">
        </div>
        <div *ngIf="year.errors?.['required']"
             class="text-danger">
          Годината е задължителен.
        </div>

        <div class="col-sm-4">
          <input type="number"
                 class="form-control"
                 [(ngModel)]="car.price"
                 name="price"
                 required
                 #price="ngModel"
                 placeholder="Цена">
        </div>
        <div *ngIf="price.errors?.['required']"
             class="text-danger">
          Цената е задължителна.
        </div>

        <div class="col-sm-4">
          <input type="number"
                 class="form-control"
                 [(ngModel)]="car.horsePower"
                 name="horsePower"
                 required
                 #horsePower="ngModel"
                 placeholder="Коне">
        </div>
        <div *ngIf="submitted && horsePower.errors?.['required']"
             class="text-danger">
          Конските сили са задължителни.
        </div>

        <div class="col-sm-4">
          <input type="text"
                 class="form-control"
                 [(ngModel)]="car.color"
                 name="color"
                 required
                 #color="ngModel"
                 placeholder="Цвят">
        </div>
        <div *ngIf="submitted && color.errors?.['required']"
             class="text-danger">
          Цвета е задължителен
        </div>

        <div class="col-sm-4">
          <input type="number"
                 class="form-control"
                 [(ngModel)]="car.cubicCapacity"
                 name="cubicCapacity"
                 required
                 #cubicCapacity="ngModel"
                 placeholder="Кубатура">
        </div>
        <div *ngIf="submitted && cubicCapacity.errors?.['required']"
             class="text-danger">
          Кубатурата е задължителна
        </div>
        <div class="col-sm-4">
          <input type="number"
                 class="form-control"
                 [(ngModel)]="car.mileage"
                 name="mileage"
                 required
                 #mileage="ngModel"
                 placeholder="Пробег">
        </div>
        <div *ngIf="submitted && mileage.errors?.['required']"
             class="text-danger">
          Пробегът е задължителен
        </div>


        <div class="col-sm-4">
          <select [(ngModel)]="car.engine"
                  name="engine"
                  required
                  #engine="ngModel"
                  class="form-select">
            <option [ngValue]="1"> Бензинов</option>
            <option [ngValue]="2">Дизелов</option>
            <option [ngValue]="3">Електрически</option>
          </select>
        </div>
        <div *ngIf="submitted && engine.errors?.['required']"
             class="text-danger">
          Двигателят е задължителен
        </div>

        <div class="col-sm-4">
          <select [(ngModel)]="car.category"
                  name="category"
                  required
                  #category="ngModel"
                  class="form-select">
            <option [ngValue]="1"> Седан</option>
            <option [ngValue]="2">Хечбек</option>
            <option [ngValue]="3">SUV</option>
            <option [ngValue]="4">Купе</option>
            <option [ngValue]="5">Миниван</option>
            <option [ngValue]="6">Пикап</option>
            <option [ngValue]="7">Спортна кола</option>
            <option [ngValue]="8">Кабриолет</option>
            <option [ngValue]="9">Комби</option>
          </select>
        </div>
        <div *ngIf="submitted && color.errors?.['required']"
             class="text-danger">
          Категорията е задължителена
        </div>

        <div class="col-sm-4">
          <select [(ngModel)]="car.transmission"
                  name="transmission"
                  required
                  #transmission="ngModel"
                  class="form-select">
            <option></option>
            <option [ngValue]="1"> Автоматична</option>
            <option [ngValue]="2">Ръчна</option>
            <option [ngValue]="3">Семи-автоматична</option>
          </select>
        </div>
        <div *ngIf="submitted && transmission.errors?.['required']"
             class="text-danger">
          Скоростната кутия е задължителена
        </div>

        <div class="col-sm-4">
          <select [(ngModel)]="car.region"
                  name="region"
                  required
                  #region="ngModel"
                  class="form-select">
            <option></option>
            <option [ngValue]="1"> Благоев Град</option>
            <option [ngValue]="2">Бургас</option>
            <option [ngValue]="3">Варна</option>
            <option [ngValue]="4">Велико Търново</option>
            <option [ngValue]="5">Видин</option>
            <option [ngValue]="6">Враца</option>
            <option [ngValue]="7">Габрово</option>
            <option [ngValue]="8">Добрич</option>
            <option [ngValue]="9">Дупница</option>
            <option [ngValue]="10">Кърджали</option>
            <option [ngValue]="11">Кюстендил</option>
            <option [ngValue]="12">Монтана</option>
            <option [ngValue]="13">Пазарджик</option>
            <option [ngValue]="14">Перник</option>
            <option [ngValue]="15">Плевен</option>
            <option [ngValue]="16">Пловдив</option>
            <option [ngValue]="17">Разград</option>
            <option [ngValue]="18">Русе</option>
            <option [ngValue]="19">Силистра</option>
            <option [ngValue]="20">Сливен</option>
            <option [ngValue]="21">Смолян</option>
            <option [ngValue]="22">София</option>
            <option [ngValue]="23">Стара Загора</option>
            <option [ngValue]="24">Търговище</option>
            <option [ngValue]="25">Хасково</option>
            <option [ngValue]="26">Шумен</option>
            <option [ngValue]="27">Ямбол</option>
            <option [ngValue]="28">Извън страната</option>
          </select>
        </div>
        <div *ngIf="submitted && region.errors?.['required']"
             class="text-danger">
          Регионът е задължителен
        </div>
        <div class="col-sm-4">
          <textarea type="text"
                    class="form-control"
                    #description="ngModel"
                    [(ngModel)]="car.description"
                    required
                    name="description"
                    placeholder="Описание">

          </textarea>
        </div>
        <div *ngIf="submitted && description.errors?.['required']"
             class="text-danger">
          Описанието е задължителено
        </div>
        <div class="col-sm-4">
          <label for="images">Снимки:</label>
          <input type="file"
                 id="images"
                 (change)="handleImageUpload($event)"
                 multiple
                 accept="image/*"
                 required>
        </div>

        <div class="col-sm-10">
          <button (click)="onSubmit()"
                  class="btn btn-primary">Добави</button>
          <div *ngIf="addError"
               class="text-danger mt3">Грешка при добавянето на кола.</div>
          <button [routerLink]="['']"
                  class="btn btn-danger">Откажи</button>
        </div>
      </div>
    </div>



  </div>

</section>