.col-sm-4 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr{
  margin-bottom: 20px;
}

.container{
  margin-top: 10px;
}

.text-danger{
  margin-left: 5px;
}

input[type=text], [type=number] {
  border: 2px solid #ccc;
}

select{
  border: 2px solid #ccc;
}

textarea{
  border: 2px solid #ccc;
}

.btn{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
    .btn-danger{
      float:right;
    }

.title{
  margin-left: 10px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}