<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                 alt="avatar"
                 class="rounded-circle img-fluid"
                 style="width: 150px;">
            <h5 class="my-3"
                *ngIf="userService.currentUserDto.roleId == 2">{{userService.currentUserDto.firstName}}
              {{userService.currentUserDto.lastName}}</h5>
            <h5 class="my-3"
                *ngIf="userService.currentUserDto.roleId == 1">{{userService.currentUserDto.userName}} </h5>
            <p class="text-muted mb-1"
               *ngIf="userService.currentUserDto.roleId == 2">Агент</p>
            <p class="text-muted mb-1"
               *ngIf="userService.currentUserDto.roleId == 1">Клиент</p>
            <p class="text-muted mb-1"
               *ngIf="userService.currentUserDto.roleId == 3">Администратор</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button"
                      class="btn btn-primary">Follow</button>
              <button type="button"
                      class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">UserName</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userService.currentUserDto.userName}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userService.currentUserDto.email}}</p>
              </div>
            </div>
          </div>
        </div>


        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"
                   *ngIf="userService.currentUserDto.roleId == 2">{{userService.currentUserDto.phoneNumber}}</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"
                   *ngIf="userService.currentUserDto.roleId == 1"
                   [routerLink]="['/becomeagent']">Не сте агент, за да имате тази информация!</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Име и фамилия</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"
                   *ngIf="userService.currentUserDto.roleId == 2">{{userService.currentUserDto.firstName}}
                  {{userService.currentUserDto.lastName}}</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"
                   *ngIf="userService.currentUserDto.roleId == 1"
                   [routerLink]="['/becomeagent']">Не сте агент, за да имате тази информация!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <button class="btn btn-primary"
                        [routerLink]="['/rentedcars']">
                  Наети Коли
                </button>

                <button class="btn btn-primary"
                        (click)="showCars = !showCars">
                  <span *ngIf="showCars">Скрий</span>
                  <span *ngIf="!showCars">Покажи твоите обяви коли</span>
                </button>


                <button class="btn btn-danger"
                        (click)="openDeleteConfirmationModal()">Delete</button>

                <button class="btn btn-primary"
                        [routerLink]="['/updateuser']">Update User</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showCars">
        <div *ngFor="let car of userService.currentUserDto.userCars"
             class="card"
             style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{car.make}} {{car.model}}</h5>
          </div>
          <button class="btn btn-primary"
                  [routerLink]="['/car',car.id]">детайли</button>
        </div>
      </div>
      <div *ngIf="showCars && userService.currentUserDto.roleId != 2">
        <p>Станете агент, за да добавяте коли</p>
      </div>


    </div>

  </div>
</section>