<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                 alt="avatar"
                 class="rounded-circle img-fluid"
                 style="width: 150px;">
            <h5 class="my-3">{{userService.currentUserDto.userName}}</h5>

            <div class="d-flex justify-content-center mb-2">
              <button type="button"
                      class="btn btn-primary">Follow</button>
              <button type="button"
                      class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
      </div>

      <form class="col-lg-8"
            (ngSubmit)="updateUser()">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">UserName</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userService.currentUserDto.userName}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userService.currentUserDto.email}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userService.currentUserDto.phoneNumber}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Име и фамилия</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userService.currentUserDto.firstName}}
                  {{userService.currentUserDto.lastName}}</p>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <button type="submit"
                class="btn btn-primary">Update User</button>
      </form>

    </div>
  </div>
</section>