<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <h2>Редактирайте профила си.</h2>
          <form (ngSubmit)="updateUser()">


            <div class="form-group">
              <label for="userName">Потребителско име:</label>
              <input type="text"
                     id="userName"
                     [(ngModel)]="this.userService?.currentUserDto.userName"
                     name="userName"
                     class="form-control"
                     required>
            </div>

            <div class="form-group">
              <label for="email">Имейл:</label>
              <input type="text"
                     id="email"
                     [(ngModel)]="this.userService?.currentUserDto.email"
                     name="email"
                     class="form-control"
                     required>
            </div>

            <div class="form-group"
                 *ngIf="this.userService?.currentUserDto.roleId === 2">
              <label for="firstName">Име:</label>
              <input type="text"
                     id="firstName"
                     [(ngModel)]="this.userService?.currentUserDto.firstName"
                     name="firstName"
                     class="form-control"
                     required>
            </div>
            <div class="form-group"
                 *ngIf="this.userService?.currentUserDto.roleId === 1">
              <label for="firstName">Име:</label>
              <p [routerLink]="['/becomeagent']">Станете агент, за да зададете име.</p>
            </div>


            <div class="form-group"
                 *ngIf="this.userService?.currentUserDto.roleId === 2">
              <label for="lastName">Фамилия</label>
              <input type="text"
                     id="lastName"
                     [(ngModel)]="this.userService?.currentUserDto.lastName"
                     name="lastName"
                     class="form-control"
                     required>
            </div>
            <div class="form-group"
                 *ngIf="this.userService?.currentUserDto.roleId === 1">
              <label for="lastName">Фамилия:</label>
              <p [routerLink]="['/becomeagent']">Станете агент, за да зададете фамилия.</p>
            </div>

            <div class="form-group"
                 *ngIf="this.userService?.currentUserDto.roleId === 2">
              <label for="phoneNumber">Телефонен номер:</label>
              <input type="text"
                     id="phoneNumber"
                     [(ngModel)]="this.userService?.currentUserDto.phoneNumber"
                     name="phoneNumber"
                     class="form-control"
                     required>
            </div>
            <div class="form-group"
                 *ngIf="this.userService?.currentUserDto.roleId === 1">
              <label for="phoneNumber">Телефонен номер:</label>
              <p [routerLink]="['/becomeagent']">Станете агент, за да зададете телефонен номер.</p>
            </div>

            <button type="submit"
                    [routerLink]="['/profile']"
                    class="btn btn-primary">Извърши промените</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>