.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.btn{
  margin-top: 10px; 
}
  .btn-danger{
    float:right;
  }

.form-group{
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
}

.container{
  margin: auto;
	width: 75%;
}