<form (ngSubmit)="become()"
      class="container">
       <h2>Стани Дилър на Коли, за да пускаш обяви!</h2>
       <label for="firstName">Име:</label>
       <input type="text"
              id="fname"
              name="fname"
              [(ngModel)]="agent.firstName">
       <label for="lastName">Фамилия:</label>
       <input type="text"
              id="lname"
              name="lname"
              [(ngModel)]="agent.lastName">
       <label for="phoneNumber">Телефонен номер:</label>
       <input type="text"
              id="phone"
              name="phone"
              [(ngModel)]="agent.phoneNumber">

       <button type="submit">Стани Дилър на Коли</button>

</form>