<div class="row custom-row">
       <div class="col-xl-5">
              <div class="card card-body p-5">
                     <h2 class="text-uppercase text-center mb-5">Създайте акаунт</h2>

                     <form (ngSubmit)="onSubmit()"
                           class="text-center mb-5">

                            <div class="form-outline mb-4">
                                   <input type="text"
                                          placeholder="Потребителско име"
                                          [(ngModel)]="user.userName"
                                          name="username"
                                          required>
                                   <!-- <label class="form-label"
                                                 for="form3Example1cg">Your UserName</label> -->
                            </div>

                            <div class="form-outline mb-4">
                                   <input type="text"
                                          placeholder="Имейл"
                                          [(ngModel)]="user.email"
                                          name="username"
                                          required>
                                   <!-- <label class="form-label"
                                                 for="form3Example3cg">Your Email</label> -->
                            </div>

                            <div class="form-outline mb-4">
                                   <input type="password"
                                          placeholder="Парола"
                                          [(ngModel)]="user.password"
                                          name="password"
                                          required>
                                   <!-- <label class="form-label"
                                                 for="form3Example4cg">Password</label> -->
                            </div>

                            <div class="form-outline mb-4">
                                   <input type="password"
                                          placeholder="Повтори паролата"
                                          [(ngModel)]="user.confirmPassword"
                                          name="username"
                                          required>
                                   <!-- <label class="form-label"
                                                 for="form3Example4cdg">Repeat your
                                                 password</label> -->
                            </div>

                            <div class="d-flex justify-content-center">
                                   <button type="submit"
                                           class="btn btn-success">Регистрация</button>
                            </div>
                            <p class="text-center text-muted mt-5 mb-0">
                                   Вече си имаш акаунт?
                                   <a routerLink="/login"
                                      class="fw-bold text-body"><u>Влез от тук</u></a>
                            </p>
                     </form>
              </div>
       </div>
</div>