<div class="row custom-row">
       <div class="col-xl-6">
              <div class="card">
                     <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form (ngSubmit)="onSubmit()">

                                   <div class="form-outline mb-4">
                                          <input type="text"
                                                 placeholder="Username"
                                                 [(ngModel)]="user.userName"
                                                 name="username"
                                                 required>
                                          <!-- <label class="form-label"
                                                 for="form3Example1cg">Your UserName</label> -->
                                   </div>

                                   <div class="form-outline mb-4">
                                          <input type="text"
                                                 placeholder="Email"
                                                 [(ngModel)]="user.email"
                                                 name="username"
                                                 required>
                                          <!-- <label class="form-label"
                                                 for="form3Example3cg">Your Email</label> -->
                                   </div>

                                   <div class="form-outline mb-4">
                                          <input type="password"
                                                 placeholder="Password"
                                                 [(ngModel)]="user.password"
                                                 name="password"
                                                 required>
                                          <!-- <label class="form-label"
                                                 for="form3Example4cg">Password</label> -->
                                   </div>

                                   <div class="form-outline mb-4">
                                          <input type="password"
                                                 placeholder="Confirm Password"
                                                 [(ngModel)]="user.confirmPassword"
                                                 name="username"
                                                 required>
                                          <!-- <label class="form-label"
                                                 for="form3Example4cdg">Repeat your
                                                 password</label> -->
                                   </div>

                                   <div class="d-flex justify-content-center">
                                          <button type="submit"
                                                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                                   </div>
                                   <p class="text-center text-muted mt-5 mb-0">Have already an
                                          account? <a href="#!"
                                             class="fw-bold text-body"><u>Login here</u></a></p>
                            </form>
                     </div>
              </div>
       </div>
</div>


<!-- <form (ngSubmit)="onSubmit()">
       <input type="text"
              placeholder="Username"
              [(ngModel)]="user.userName"
              name="username"
              required>
       <input type="text"
              placeholder="Email"
              [(ngModel)]="user.email"
              name="username"
              required>
       <input type="password"
              placeholder="Password"
              [(ngModel)]="user.password"
              name="password"
              required>
       <input type="password"
              placeholder="Confirm Password"
              [(ngModel)]="user.confirmPassword"
              name="username"
              required>

       <button type="submit">Register</button>
</form> -->