<form (ngSubmit)="onSubmit()">
       <input type="text"
              placeholder="Username"
              [(ngModel)]="user.userName"
              name="username"
              required>
       <input type="text"
              placeholder="Email"
              [(ngModel)]="user.email"
              name="username"
              required>
       <input type="password"
              placeholder="Password"
              [(ngModel)]="user.password"
              name="password"
              required>
       <input type="password"
              placeholder="Confirm Password"
              [(ngModel)]="user.confirmPassword"
              name="username"
              required>

       <button type="submit">Register</button>
</form>