<div class="container"
     *ngIf="!loadingData else loadingDataSection">
  <div class="card">
    <div class="text-center">
      <div class="card-images-container">
        <div *ngFor="let imagePath of imagePaths">
          <img [src]="imagePath"
               alt="Липсва снимка">
        </div>
      </div>

      <div class="card-body">
        <h5 class="card-title mt-1">{{car?.make}} {{car?.model}}</h5>
        Цена:
        <p class="card-text"
           id="price"> {{car?.price}} лв/ден</p>
        Година:
        <p class="card-text"> {{car?.year}}</p>
        Мощност:
        <p class="card-text">{{car?.horsePower}}</p>
        Двигател:
        <p class="card-text"> {{ engineEnumLocalization[car?.engine]}}</p>
        Скоростна кутия:
        <p class="card-text"> {{ transmissionEnumLocalization[car?.transmission]}}</p>
        Категория:
        <p class="card-text">{{ categoryEnumLocalization[car?.category]}}</p>
        Регион:
        <p class="card-text"> {{ regionEnumLocalization[car?.region]}}</p>
        Пробег:
        <p class="card-text"> {{car?.mileage}} км.</p>
        Цвят:
        <p class="card-text">{{car?.color}} </p>
        За повече информация за агента:
        <button class="btn btn-primary"
                [routerLink]="['/agent', car.userId]">Агент</button>
        Редактирайте обявата си:
        <button class="btn btn-primary"
                *ngIf="car.userId === userService.currentUserDto?.id || userService.currentUserDto?.roleId == 3"
                [routerLink]="['/updatecar', car.id]">Редактирай</button>
      </div>
    </div>
  </div>

</div>
<ng-template #loadingDataSection>
  <loading-section></loading-section>
</ng-template>