<div class="container py-2">
  <div class="card">
    <div class="card-body">

      <h2 class="card-title">Редактирай обявата си</h2>
      <hr>

      <form (ngSubmit)="updateCar()"
            #updateForm="ngForm"
            class="row g-3">

        <div class="col-md-4">
          <label for="make"
                 class="form-label">Стара Марка:</label>
          <input type="text"
                 id="make"
                 [(ngModel)]="updatedCar.make"
                 name="make"
                 class="form-control"
                 required>
        </div>

        <div class="col-md-4">
          <label for="model"
                 class="form-label">Стар Модел:</label>
          <input type="text"
                 id="model"
                 [(ngModel)]="updatedCar.model"
                 name="model"
                 class="form-control"
                 required>
        </div>

        <div class="col-md-4">
          <label for="model"
                 class="form-label">Стар Година:</label>
          <input type="text"
                 id="price"
                 [(ngModel)]="updatedCar.price"
                 name="price"
                 class="form-control"
                 required>
        </div>

        <div class="col-md-4">
          <label for="model"
                 class="form-label">Стар цена:</label>
          <input type="text"
                 id="price"
                 [(ngModel)]="updatedCar.price"
                 name="price"
                 class="form-control"
                 required>
        </div>

        <div class="col-sm-4">
          <label for="horsePower">Стари коне:</label>
          <input type="number"
                 id="horsePower"
                 [(ngModel)]="updatedCar.horsePower"
                 name="horsePower"
                 class="form-control"
                 required>
        </div>

        <div class="col-sm-4">
          <label for="color">Стар цвят:</label>
          <input type="text"
                 id="color"
                 [(ngModel)]="updatedCar.color"
                 name="color"
                 class="form-control"
                 required>
        </div>

        <div class="col-sm-4">
          <label for="cubicCapacity">Стара кубатура:</label>
          <input type="number"
                 id="cubicCapacity"
                 [(ngModel)]="updatedCar.cubicCapacity"
                 name="cubicCapacity"
                 class="form-control"
                 required>
        </div>

        <div class="col-sm-4">
          <label for="mileage">Стар пробег:</label>
          <input type="number"
                 id="mileage"
                 [(ngModel)]="updatedCar.mileage"
                 name="mileage"
                 class="form-control"
                 required>
        </div>

        <div class="col-sm-4">
          <label for="description">Старо описание:</label>
          <input type="text"
                 id="description"
                 [(ngModel)]="updatedCar.description"
                 name="description"
                 class="form-control"
                 required>
        </div>

        <!-- Repeat the similar structure for other input fields -->

        <div class="col-md-4">
          <label for="transmission"
                 class="form-label">Стара скоростна кутия:</label>
          <select id="transmission"
                  [(ngModel)]="updatedCar.transmission"
                  name="transmission"
                  class="form-select">
            <option [ngValue]="1">Автоматична</option>
            <option [ngValue]="2">Ръчна</option>
            <option [ngValue]="3">Семи-автоматична</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="category"
                 class="form-label">Стара категория:</label>
          <select id="category"
                  [(ngModel)]="updatedCar.category"
                  name="category"
                  class="form-select">
            <option [ngValue]="1">Седан</option>
            <option [ngValue]="2">Хечбек</option>
            <option [ngValue]="3">SUV</option>
            <option [ngValue]="4">Купе</option>
            <option [ngValue]="5">Миниван</option>
            <option [ngValue]="6">Пикап</option>
            <option [ngValue]="7">Спортна кола</option>
            <option [ngValue]="8">Кабриолет</option>
            <option [ngValue]="9">Комби</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="region"
                 class="form-label">Стар регион:</label>
          <select id="region"
                  [(ngModel)]="updatedCar.region"
                  name="region"
                  class="form-select">
            <option [ngValue]="1">Благоевград</option>
            <option [ngValue]="2">Бургас</option>
            <option [ngValue]="3">Варна</option>
            <option [ngValue]="4">Велико Търново</option>
            <option [ngValue]="5">Видин</option>
            <option [ngValue]="6">Враца</option>
            <option [ngValue]="7">Габрово</option>
            <option [ngValue]="8">Добрич</option>
            <option [ngValue]="9">Дупница</option>
            <option [ngValue]="10">Кърджали</option>
            <option [ngValue]="11">Кюстендил</option>
            <option [ngValue]="12">Монтана</option>
            <option [ngValue]="13">Пазарджик</option>
            <option [ngValue]="14">Перник</option>
            <option [ngValue]="15">Плевен</option>
            <option [ngValue]="16">Пловдив</option>
            <option [ngValue]="17">Разград</option>
            <option [ngValue]="18">Русе</option>
            <option [ngValue]="19">Силистра</option>
            <option [ngValue]="20">Сливен</option>
            <option [ngValue]="21">Смолян</option>
            <option [ngValue]="22">София</option>
            <option [ngValue]="23">Стара Загора</option>
            <option [ngValue]="24">Търговище</option>
            <option [ngValue]="25">Хасково</option>
            <option [ngValue]="26">Шумен</option>
            <option [ngValue]="27">Ямбол</option>
            <option [ngValue]="28">Извън страната</option>
          </select>
        </div>

        <div class="col-12">
          <button type="submit"
                  class="btn btn-primary"
                  [disabled]="!updateForm.valid">Редактирай колата</button>
          <div *ngIf="updateError"
               class="alert alert-danger mt-3">
            Редактирането се провали. Моля опитайте отново.
          </div>
          <button [routerLink]="['']"
                  class="btn btn-danger">Откажи</button>
        </div>

      </form>
    </div>
  </div>
</div>