.card{
  margin-top:10px;
  margin-bottom:10px;
  margin-right:10px;
  margin-left:10px;
}

.row{
  margin-left:15px;
}

.btn{
  margin-top:10px;
  margin-bottom:10px;
  margin-right:10px;
  margin-left:10px;
}

h3{
  text-align: center;
  margin-top:10px;
}