<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-sm-4">
        <label for="make">Търси по марка</label>
        <input type="text"
               [(ngModel)]="searchCar.make"
               id="make"
               class="form-control"
               placeholder="Избери">
      </div>
      <div class="col-sm-4">
        <label for="model">Търси по модел</label>
        <input type="text"
               [(ngModel)]="searchCar.model"
               id="model"
               class="form-control"
               placeholder="Избери">
      </div>
      <div class="col-sm-4">
        <label for="year">Търси по година</label>
        <input type="number"
               [(ngModel)]="searchCar.year"
               id="year"
               class="form-control"
               placeholder="Избери">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-4">
        <label for="engine">Търси по двигател</label>
        <select [(ngModel)]="searchCar.engine"
                class="form-control"
                id="engine">
          <option></option>
          <option value="1">Бензинов</option>
          <option value="2">Дизелов</option>
          <option value="3">Електрически</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="category">Търси по категория</label>
        <select [(ngModel)]="searchCar.category"
                class="form-control"
                id="category">
          <option></option>
          <option value="1"> Седан</option>
          <option value="2">Хечбек</option>
          <option value="3">SUV</option>
          <option value="4">Купе</option>
          <option value="5">Миниван</option>
          <option value="6">Пикап</option>
          <option value="7">Спортна кола</option>
          <option value="8">Кабриолет</option>
          <option value="9">Комби</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="transmission">Търси по скоростна кутия</label>
        <select [(ngModel)]="searchCar.transmission"
                class="form-control"
                id="transmission">
          <option></option>
          <option value="1">Автоматична</option>
          <option value="2">Ръчна</option>
          <option value="3">Семи-автоматична</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="region"
               class="bold-label">Вземи колата от:</label>
        <select [(ngModel)]="searchCar.region"
                class="form-control"
                id="region">
          <option></option>
          <option value="1">Благоевград</option>
          <option value="2">Бургас</option>
          <option value="3">Варна</option>
          <option value="4">Велико Търново</option>
          <option value="5">Видин</option>
          <option value="6">Враца</option>
          <option value="7">Габрово</option>
          <option value="8">Добрич</option>
          <option value="9">Дупница</option>
          <option value="10">Кърджали</option>
          <option value="11">Кюстендил</option>
          <option value="12">Монтана</option>
          <option value="13">Пазарджик</option>
          <option value="14">Перник</option>
          <option value="15">Плевен</option>
          <option value="16">Пловдив</option>
          <option value="17">Разград</option>
          <option value="18">Русе</option>
          <option value="19">Силистра</option>
          <option value="20">Сливен</option>
          <option value="21">Смолян</option>
          <option value="22">София</option>
          <option value="23">Стара Загора</option>
          <option value="24">Търговище</option>
          <option value="25">Хасково</option>
          <option value="26">Шумен</option>
          <option value="27">Ямбол</option>
          <option value="28">Извън страната</option>
        </select>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 text-center">
        <button class="btn btn-primary"
                (click)="search()">Търси</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isSearched"
     class="container">

  <div class="row">
    <div class="col">
      <ngb-pagination [collectionSize]="this.totalCarsCount"
                      [pageSize]="12"
                      [page]="page"
                      (pageChange)="OnPageChange($event)"
                      aria-label="Default pagination" />
      <label for="card"> {{cars.length}} обяви на {{page}} страница </label>

    </div>
  </div>
</div>

<div class="container">

  <div class="row">

    <hr>
    <div *ngFor="let car of cars; let i = index"
         class="custom-card"
         style="width: 18rem;">

      <img [src]="getImageUrl(car.id)"
           alt="Липсва снимка"
           class="card-img-top">

      <div class="card-body">
        <h5 class="card-title">{{car.make}} {{car.model}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bold-label"> {{car.price}}лв./ден</li>
        <li class="list-group-item bold-label">Регион: {{ regionEnumLocalization[car?.region] }}</li>
      </ul>
      <div class="card-body">
        <button class="btn btn-primary bold-label"
                *ngIf="!car.isRented && userService.currentUserDto"
                (click)="rentCar(i, car.id)">Наеми Колата</button>

        <button class="btn btn-primary"
                [routerLink]="['/car',car.id]">детайли</button>

        <button class="btn btn-primary"
                *ngIf="car.userId === userService.currentUserDto?.id"
                [routerLink]="['/updatecar', car.id]">Update</button>

        <button class="btn text-danger"
                *ngIf="car.isRented && userService.currentUserDto">Колата е наета</button>

        <button *ngIf="car.userId === userService.currentUserDto?.id"
                class="btn btn-danger"
                (click)="onDeleteModal(car.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isSearched"
     class="container">

  <div class="row">
    <div class="col">
      <ngb-pagination [collectionSize]="this.totalCarsCount"
                      [pageSize]="12"
                      [page]="page"
                      (pageChange)="OnPageChange($event)"
                      aria-label="Default pagination" />
      <label for="card"> {{cars.length}} обяви на {{page}} страница </label>

    </div>
  </div>
</div>